section, header, footer {display: block;}
body {
  font-family: sans-serif;
  color: #fff;
  line-height: 1.5;
  font-size: 1em;
  background: #1e90ff;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#page {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  position: relative;
}

i {
  color: white;
  font-size: 12em;
  display: block;
  float:left;
}
i:hover {
  color: #5cadff;
}

h1 {
  font-family: 'League Gothic' sans-serif;
  font-size: 8em;
  font-weight: normal;
  color: #5cadff;
  vertical-align: baseline;
  float:left;
  margin: 10px;
  padding: 0;
  line-height: 1em;
}

p.body {
  float:left;

}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after, .clear { clear: both; }

a, a:visited {
  color: #d1e8ff;
  text-decoration: none;
}
a:hover, a:focus {color: #000;}
.box1 {
  font-size: 16px;
  display: inline-block;
  width: 15em;
  padding: .25em .5em;
  background: #eee;
  margin: .5em 1em .5em 0;
}
